In [47]:
import pandas as pd 
import scipy as sp
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy 
from scipy import stats

In [31]:
customer_data = pd.read_csv('Costomer+OrderForm.csv')

In [32]:
customer_data

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [33]:
customer_data.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [34]:
customer_data.shape

(300, 4)

In [35]:
customer_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Phillippines  300 non-null    object
 1   Indonesia     300 non-null    object
 2   Malta         300 non-null    object
 3   India         300 non-null    object
dtypes: object(4)
memory usage: 9.5+ KB

In [36]:
customer_data.dtypes

Phillippines    object
Indonesia       object
Malta           object
India           object
dtype: object

In [37]:
customer_data.describe()

       Phillippines   Indonesia       Malta       India
count           300         300         300         300
unique            2           2           2           2
top      Error Free  Error Free  Error Free  Error Free
freq            271         267         269         280

In [38]:
customer_data.value_counts()

Phillippines  Indonesia   Malta       India
Error Free    Error Free  Error Free  Error Free    206
Defective     Error Free  Error Free  Error Free     21
Error Free    Defective   Error Free  Error Free     20
              Error Free  Defective   Error Free     18
                          Error Free  Defective      16
              Defective   Defective   Error Free      9
Defective     Error Free  Defective   Error Free      4
              Defective   Error Free  Error Free      2
              Error Free  Error Free  Defective       2
Error Free    Defective   Error Free  Defective       2
dtype: int64

In [39]:
Phillippines_data = customer_data['Phillippines'].value_counts()
Phillippines_data

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [43]:
Indonesia_data = customer_data['Indonesia'].value_counts()
Indonesia_data

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [44]:
Malta_data = customer_data['Malta'].value_counts()
Malta_data

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [45]:
India_data = customer_data['India'].value_counts()
India_data

Error Free    280
Defective      20
Name: India, dtype: int64

In [50]:
chiStats = sp.stats.chi2_contingency([[271,267,269,280],[29,33,31,20]])
('Test t=%f p-value=%f' % (chiStats[0], chiStats[1]))

'Test t=3.858961 p-value=0.277102'

In [56]:
alpha = 0.05
critical_value = sp.stats.chi2.ppf(q = 1 - alpha,df=chiStats[2])
observed_chi_val = chiStats[0]

In [57]:
observed_chi_val

3.858960685820355

In [58]:
chiStats

(3.858960685820355,
 0.2771020991233135,
 3,
 array([[271.75, 271.75, 271.75, 271.75],
        [ 28.25,  28.25,  28.25,  28.25]]))

#####  critical value = 0.1

In [60]:
alpha = 0.05
critical_value = sp.stats.chi2.ppf(q = 1 - alpha,df=chiStats[2])
observed_chi_val = chiStats[0]

In [61]:
observed_chi_val

3.858960685820355

In [62]:
if observed_chi_val <= critical_value:
       print ('Null hypothesis cannot be rejected (variables are not related)')
else:
       print ('Null hypothesis cannot be excepted (variables are not independent)')

Null hypothesis cannot be rejected (variables are not related)